body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin: 0;
}
/* div de mise en form du formulaire */ 
.divForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* bouton envoyer */
.styled{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(226, 149, 120, 0.7);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.styled:hover{
    background-color: rgba(255, 221, 210, 0.7);
}
.styled:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}