body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin: 0;
}

.coldeskRght{
    /*background-color: $DarkSalmon;*/
    background: linear-gradient(to left, #E29578, #FFDDD2);
    opacity: 0.6;
  }
  .coldeskLft{
      /*background-color: $DarkSalmon;*/
      background: linear-gradient(to right, #E29578, #FFDDD2);
      opacity: 0.6;
}
.divForm{
    background-color: rgba(255, 221, 210, 0.55);
}
.titre{
    margin-top: 2vh;
    padding: 1em;
    font-size: 25px;
    text-align: center;
}
/* div de mise en form de la table */ 
th{
    border: 2px solid rgb(226, 149, 120);
    background-color:  rgb(255, 221, 210);
}
td{
    border: 2px solid rgb(226, 149, 120);
}
img{
    width: 300px;
}
a{
    text-decoration: none;
    color: black;
}

/* boutons d'action */
.bnt{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(226, 149, 120, 0.7);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.bnt:hover{
    background-color: rgba(255, 221, 210, 0.7);
    color: black;
}
.bnt:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    color: black;
}
.bntBottom{
    margin-bottom: 3vh;
}