@import 'variables.scss';

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin: 0;
}
.menu {
    display: none;
}
.photo-martine{
    max-width: 100%;
}
.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.min-vh-100 {
    min-height: 100vh!important;
}
#home {
    display: block;
    
    .col-home{
        background-color:$MiddleBlueGreen;
        width: 90%;
        left: 0;
    }
    .homeLft{
        img{
            z-index: 5;
            position: relative;
            max-width: 100%;
            padding-top: 0;
          }
    }
    .homeCtr{
        z-index: 10;
        background-color: white;
        padding-left: 3vh;
        padding-right: 3vh;
        .homeCtrTxt{
            font-size: 1.3em;
            position: relative;
            padding: 2vh;
        }
    }
    .homeRgt{
        display: none;
    }
}

#Competences{
    display: block;
    .sectCompetences{
        background-color: $DarkSalmon;
        opacity: 0.6;
    }
    .PhotoOrdi{
        display: none;
    }

}

#Projets{
    display: block;

    .sectProjets{
        background-color: $Ming;
        opacity: 0.6;
    }
}
#contact{
    display: block;

    .divFlexLogo{
        background-color: $UnbleachedSilk;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2vh

    }
    .Tel{
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .sectContact{
        background-color: $UnbleachedSilk;
    }

    .gras{
        font-weight: bold;
    }
    #formContact{
        display: flex;
        flex-direction: column;
        label{
            font-weight: bold;
            width: 250px;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
        input{
            margin-bottom: 2vh;
            padding: 12px 20px;
            width: 100%;
            border: none;
            border-bottom: 2px solid $Ming;
        }
        #name{
            width: 100%;
        }
        #mail{
            width: 100%;
        }
        #subject{
            width: 100%;
        }
    }
    button{
        margin-top: 2vh;
    }
    /* bouton envoyer */
    .styled{
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(226, 149, 120, 0.7);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }
    .styled:hover{
        background-color: rgba(255, 221, 210, 0.7);
    }
    .styled:active{
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
}