$DarkSalmon: #E29578; /*rgb(226, 149, 120)*/
$UnbleachedSilk: #FFDDD2; /*rgb(255, 221, 210)*/
$AliceBlue: #EDF6F9; /*rgb(237, 246, 249)*/
$MiddleBlueGreen: #83C5BE; /*rgb(131, 197, 190)*/
$Ming: #006D77; /*rgb(0, 109, 119)*/



