$bgLight: rgb(241, 243, 247);
$bgDark: rgb(234, 234, 241);
$textColor: rgb(49, 49, 49);

/* couleurs pour la partie à propos*/
$bgPurpleLight: #F0D9FF; /*rgb(240, 217, 255)*/
$bgPurpleDark: #BFA2DB; /*rgb(191, 162, 219)*/
$txtPurpleLight: #FAF8FC;
$txtPurpleDark:#3B185F;


/* couleurs pour la partie mes compétences*/
$bgGreenLight: #D5EEBB; /*rgb(213, 238, 187)*/
$bgGreenDark: #5F7A61; /*rgb(95, 122, 97)*/
$txtGreenLight: #FAF8FC;
$txtGreenDark: #293429;